body {
    display: flex;
    justify-content: center;
}

header {
    display: block;
    text-align: center;
    background: #6943FF;
    color: white;
    width: 550px;
    padding-top: 35px;
    padding-bottom: 45px;
}

.results-container {
    display: block;
}