
header {
    display: block;
    text-align: center;
    background: #6943FF;
    color: white;
    width: 550px;
    padding-top: 35px;
    padding-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
}

.results-container {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #1F2937;
}

article {
    background: #273549;
}